body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#root {
  width: 100%;
}

#master-container {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main, aside {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > div > div > div:first-child {
  position: static !important;
}

#map-container {
  height: 100%;
  width: 100%;
}

aside {

}

form {
  z-index: 2;
}
